{{!-- <form>
  <div class="form-group">
    <label for="exampleInput">Example input</label>
    <input type="text" class="form-control" id="exampleInput">
  </div>
  <div class="form-group">
    <label for="exampleFile">Example file input</label>
    <input type="file" class="form-control-file" id="exampleFile">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>

</form> --}}


{{!-- 
<div class="container">
    <div style="width: 450px;">
<form>
  <div class="form-group">
    <label for="inputField">Input Field </label>
    <input type="text" class="form-contLabelrol" id="inputField" placeholder="Enter text">
  </div>
  <div class="form-group">
    <label for="fileUpload">File Upload Label</label>
    <div class="custom-file">
      <input type="file" class="custom-file-input" id="fileUpload">
      <label class="custom-file-label" for="fileUpload">Choose file</label>
    </div>
  </div>
  <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
</form>
 </div> 
</div> --}}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <style>body {
  background-color: #f2f2f2;
}

h2 {
  text-align: center;
}

form {
  background-color: white;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px gray;
  margin: 0 auto;
  width: 50%;
}
</style>
</head>
<body>
    {{>adminHeader}}

    <div class="container mt-5">
  <h2>Add Category</h2>
  <h6 style="color: green;" class="text-center mb-3 mt-3">{{ catSaveMsg}}</h6>
  <h6 style="color: red;" class="text-center mb-3 mt-3">{{ catExistMsg}}</h6>

  <form action="/admin/add_category" method="post" enctype="multipart/form-data">
    <div class="form-group">
      <label for="categoryName">Category Name:</label>
      <input type="text" class="form-control" id="categoryName" name="name" required>
    </div>
   
    <div class="form-group">
      <label for="categoryImage">Category Image:</label>
      <input type="file" class="form-control-file" id="categoryImage" name="image" required>
    </div>
   
   <div class="mt-3">
     <button type="submit" class="btn btn-primary">Submit</button>
      <a href="/admin/Category" type="button" class="btn btn-primary">back</a>
   </div>
   
  </form>

</div>


</body>
</html>
